.home-panels {
  display: grid;
  grid-template-columns: 1fr 640px 1fr;
  gap: 24px;
  padding: 24px;
}

.home-panels > .center-panel {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

hr.gray {
  align-self: stretch;
  border: none;
  border-top: 1px solid var(--section-border-2);
}

.home-panels > .center-panel .nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 12px;
}

.home-panels > .center-panel .nav-header .icon-container {
  width: 48px;
  height: 48px;
}

.home-panels > .center-panel .nav-header .icon-container img {
  width: 36px;
  height: 36px;
}

.home-panels > .center-panel .nav-header > span {
  flex-grow: 1;
  font-weight: bold;
  font-size: 18pt;
  text-align: center;
}