.nav-panel {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 24px;
}

.nav-panel .home-link {
  font-size: 24pt;
  text-decoration: none;
  font-weight: bold;
}

.nav-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  font-size: 16pt;
  color: var(--main-text-color);
  text-decoration: none;
  transition: color ease 200ms;
}

.nav-option:hover {
  color: var(--garf-color);
}

.nav-option .icon-container {
  height: 36px;
  width: 36px;
}

.nav-option .icon-container img {
  transition: filter ease 200ms;
}

.nav-option:hover .icon-container img {
  filter: invert(75%) sepia(15%) saturate(1247%) hue-rotate(297deg) brightness(102%) contrast(95%);
}

.nav-option .icon-container:hover {
  backdrop-filter: none;
}