.post-creator {
  display: flex;
  flex-direction: column;
  /* max-width: 640px; */
  gap: 12px;
  /* padding: 12px; */
}

.post-creator textarea {
  font-size: 18pt;
  flex-grow: 1;
}

.post-creator .attachments {
  flex-basis: 48px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.post-creator .attachments>.icon-container {
  flex-basis: 48px;
}

.post-creator .attachments>.icon-container img {
  width: 32px;
}

.post-creator .comic-preview {
  width: 100%;
  border: 0;
  outline: 1px solid white;
}

.comic-preview-container {
  position: relative;
  margin-top: 12px;
}

.comic-preview-container .controls {
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: absolute;
  top: 9px;
  right: 8px;
}

.comic-preview-container .icon-container {
  height: 48px;
  width: 48px;
  background-color: var(--transparent-section-background);
}

.comic-preview-container .icon-container:hover {
  backdrop-filter: brightness(80%);
}

.comic-preview-container .icon-container img {
  width: 32px;
}

.post-creator>.main-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-basis: 96px;
}

.post-creator .username-editor {
  flex-grow: 1;
  flex-shrink: 3;
}

.post-creator .username-editor> :first-child {
  display: grid;
  place-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 639px) {
  .post-creator .username-editor> :first-child {
    display: none;
  }

  .post-creator .username-editor> :nth-child(2)>.text-input-component {
    border-radius: 12px;
  }

  .post-creator .test-link {
    display: none;
  }

  .post-creator .attachments > a {
    flex-shrink: 0;
  }
}

.post-creator .username-editor> :nth-child(2)>.text-input-component {
  height: auto;
}

/* Post preview */
.post-preview .comic {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-preview .comic.loading .garfield-image {
  filter: brightness(40%);
}

.post-preview .comic l-dot-pulse {
  position: absolute;
}

.post-preview .comic {
  max-width: 768px;
}

.post-list,
.reply-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
}

.post-preview {
  border-radius: 12px;
  display: grid;
  gap: 18px;
  grid-template-columns: 72px 1fr;
}

.post-preview .icon-container.profile-picture.unknown-user {
  font-size: 36px;
  background: linear-gradient(135deg, var(--bad-color) 0%, var(--garf-color) 100%);
}

.icon-container.profile-picture:not(.unknown-user) {
  backdrop-filter: brightness(125%);
  overflow: hidden;
}

.icon-container.profile-picture:not(.unknown-user)>img {
  transform: scale(2) translateY(20%);
}

.post-preview>.icon-container.profile-picture {
  width: 36px;
  height: 36px;
  padding: 11px;
  border-radius: 36px;
  border: 1px solid var(--garf-color);
  margin: 12px;
}

.icon-container.profile-picture img {
  filter: none;
}

.post-preview>.post-content {
  display: flex;
  flex-direction: column;
  margin: 12px 12px 8px 0;
  font-size: 12pt;
}

.post-preview>.post-content>.information {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.post-preview>.post-content>.information>.author {
  font-weight: bold;
}

.post-preview>.post-content>.information>.date>span {
  filter: opacity(50%);
  transition: filter ease 200ms;
}

.post-preview>.post-content>.information>.date>span:hover {
  filter: opacity(75%);
}

.post-preview>.post-content>.body {
  /* border-top: 1px solid var(--section-border-2); */
  margin-top: 4px;
  text-align: start;
  /* padding-top: 8px; */
}

.post-preview>.post-content>.link {
  padding: 8px;
  border: 1px solid var(--section-border-2);
  text-align: center;
  border-radius: 12px;
  margin-top: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: backdrop-filter ease 200ms;
}

.post-preview>.post-content>.link:hover {
  backdrop-filter: brightness(120%);
}

.post-preview>.post-content canvas.garfield-image {
  border-radius: 12px;
}

.post-preview>.post-content>.interactions {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: row;
  justify-content: space-between;
}

.post-preview>.post-content>.interactions .icon-container {
  height: 40px;
  width: 40px;
}

.post-preview>.post-content>.interactions .icon-container>img {
  height: 24px;
  width: 24px;
}

.post-preview .interactions>div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.post-preview>.post-content>.comic {
  margin-top: 9px;
  border-top: 1px solid var(--section-border-2);
  padding-top: 8px;
}

.post-preview>.post-content>.quote {
  margin-top: 12px;
}

.post-preview>.post-content>.quote>.post-preview>.icon-container.profile-picture {
  width: 24px;
  height: 24px;
}

.post-preview>.post-content>.quote>.post-preview {
  box-shadow: none;
}

.post-preview>.post-content>.quote>.post-preview:not(.loading) {
  grid-template-columns: 56px 1fr;
  padding-bottom: 4px;
}

.post-preview.loading {
  place-items: center;
  grid-template-columns: 1fr;
  padding: 24px 0;
}

.post-preview>.post-content>.information>.options,
.post-preview>.post-content>.information>.repost-author,
.post-preview>.post-content>.information>.follow-button {
  margin-left: auto;
}

.post-preview>.post-content>.information>.repost-author~.options,
.post-preview>.post-content>.information>.follow-button~.options {
  margin-left: 8px;
}

.post-preview>.post-content>.information>.options .head {
  display: grid;
  place-items: center;
  border: 1px solid var(--section-border);
  border-radius: 4px;
  padding: 4px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.post-preview>.post-content>.information>.options .dropdown-body {
  width: max-content;
  right: 0;
  max-height: 400px;
  width: 200px;
}

.post-preview>.post-content>.information>.options .dropdown-body>* {
  border: none;
  box-shadow: none;
}

.post-preview>.post-content>.information>.options .dropdown-body>button {
  padding: 4px;
  gap: 0;
}

.post-preview>.post-content>.information>.options .dropdown-body>button:focus {
  filter: brightness(1.25);
}

.post-preview>.post-content>.information>.options .dropdown-body>button .icon-container {
  height: 24px;
  width: 24px;
  padding: 8px;
}

.post-preview>.post-content>.information>.options .dropdown-body>button .icon-container:hover {
  backdrop-filter: none;
}

.post-preview>.post-content>.information>.options .dropdown-body>button span {
  padding: 8px;
}

.post-report {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.post-preview.link-to-post {
  transition: background-color ease 200ms;
}

.post-preview.link-to-post .body {
  cursor: pointer;
}

.post-preview.link-to-post:hover,
.post-preview.link-to-post:hover .post-preview {
  background-color: var(--section-background-hover);
}

.modal-content>.post-creator {
  width: 100%;
}

.reply-chain {
  display: flex;
  flex-direction: column;
}

.reply-chain>*+* {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.reply-chain> :not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.empty-body {
  filter: opacity(50%);
  transition: filter ease 200ms;
  font-style: italic;
}

.empty-body:hover {
  filter: opacity(75%);
}

.post-error {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .post-list > .post-preview {
    margin: 0 -18px;
  }

  .post-preview>.post-content>.interactions {
    margin-left: -72px;
    display: flex;
  }

  .post-preview>.post-content>.interactions .icon-container {
    height: 32px;
    width: 32px;
  }

  .post-preview>.post-content>.interactions .icon-container>img {
    height: 20px;
  }

  .post-preview>.post-content>.interactions>div {
    gap: 4px;
    flex-basis: auto;
  }

  .post-preview > .post-content > .information > * {
    flex-shrink: 0;
  }

  .post-preview .repost-author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-basis: 0;
    flex-grow: 1;
  }
}